body {
  margin: 0;
}

h1 {
  font-family: Cantarell, Helvetica, sans-serif;
  text-align: center;
  margin: 1rem;
}

p {
  text-align: center;
  margin: 1rem;
}

ul {
  text-align: center;
}

li {
  margin-left: 2rem;
  padding: .2rem;
  max-width: 70rem;
}